### Using Key Parameter in sort method:

In [18]:
a=[56, 26, 48, 58, 256, 46]

In [2]:
a.sort()

In [3]:
a

[26, 46, 48, 56, 58, 256]

In [4]:
b = [[5, 6], [1, 8], [9, 2], [0, 11], [4, 6]]

In [5]:
b.sort()

In [6]:
b

[[0, 11], [1, 8], [4, 6], [5, 6], [9, 2]]

In [7]:
def mySort(l):
    return l[1]

In [8]:
b.sort(key = mySort)

In [9]:
b

[[9, 2], [4, 6], [5, 6], [1, 8], [0, 11]]

In [10]:
b.sort(key = lambda x : x[1])

In [11]:
b

[[9, 2], [4, 6], [5, 6], [1, 8], [0, 11]]

In [12]:
a

[26, 46, 48, 56, 58, 256]

In [14]:
a=[56, 26, 48, 58, 256, 46]

In [15]:
sorted(a)

[26, 46, 48, 56, 58, 256]

In [17]:
sorted(b, key = lambda x : x[0])

[[0, 11], [1, 8], [4, 6], [5, 6], [9, 2]]

In [19]:
i = sorted(range(len(b)), key = lambda x : b[1])
i

[0, 1, 2, 3, 4]

### List Comprehension in Python
##### Writing list and the loop in a single line

In [20]:
[i for i in range(1, 10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
c = []
for i in range(1, 10):
    c.append(i)
c

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Even numbers using list comrephension

In [22]:
[j for j in range(1, 20) if j%2 == 0]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [24]:
name = ['Name1', 'Name2', 'Name3', 'Name4', 'Name5']

In [25]:
[len(i) for i in name]

[5, 5, 5, 5, 5]

In [26]:
[i.upper() for i in name]

['NAME1', 'NAME2', 'NAME3', 'NAME4', 'NAME5']

In [28]:
d = [input() for i in range(3)]

4
3
7

In [29]:
d

['4', '3', '7']

In [31]:
e = [int(input()) for i in range(3)]

3
4
5

In [32]:
e

[3, 4, 5]

In [33]:
# Above cell is used for taking input in vertical or new line.

In [34]:
f = [i for i in input().split(' ')]

2 3 4 5

In [35]:
f

['2', '3', '4', '5']

In [36]:
g = [int(i) for i in input().split(' ')]

3 4 5 6 7

In [37]:
g

[3, 4, 5, 6, 7]

In [38]:
# Above cell is taking input in horizontal or single line

In [39]:
[i for i in zip(f, g)]

[('2', 3), ('3', 4), ('4', 5), ('5', 6)]

In [42]:
[(int(p), q) for p, q in zip(f, g)]

[(2, 3), (3, 4), (4, 5), (5, 6)]

In [43]:
# Write a program using comprehension to generate a list of your name in character

In [44]:
[i for i in 'Sudeb']

['S', 'u', 'd', 'e', 'b']

In [47]:
['Even' if i%2 == 0 else 'odd' for i in range(10)]

['Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd']

In [48]:
[i for i in range(100) if i%2==0 if i%3==0]

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [49]:
[i for i in range(100) if i%2==0 and i%3==0]

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [50]:
# problem 1

In [51]:
p = [int(input()) for i in range(5)]
q = [int(input()) for i in range(5)]

5
2
3
6
8
1
1
1
1
1

In [52]:
p,q

([5, 2, 3, 6, 8], [1, 1, 1, 1, 1])

In [53]:
if len(p) == len(q):
    if all([True if i>=j else False for i, j in zip(p, q) ]):
        print('Compatible')
    else:
        print('Incompatible')
else:
    print('Incompatible')

Compatible

In [1]:
# problem 2

In [2]:
n = int(input()) 
a = [int(i) for i in input().split(' ')]

In [3]:
a

[1, 2]

In [4]:
for i in range(len(a)-1, 0, -1):
    # print(i)
    a[i-1] = a[i-1]-a[i]
    #print(a[i-1])
print(a)

[-1, 2]

In [19]:
a[0], sum(a)

(2, 27)

## Dictionary Comprehension

In [20]:
{i:i**3 for i in range(1,9)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512}

In [21]:
product = ['Paneer', 'Curd', 'Milk', 'Cheese']
price = [1000, 85, 70, 200]

In [23]:
{i:j for i,j in zip(product, price)}

{'Paneer': 1000, 'Curd': 85, 'Milk': 70, 'Cheese': 200}

In [25]:
{i:round(j/82,2) for i,j in zip(product, price)}

{'Paneer': 12.2, 'Curd': 1.04, 'Milk': 0.85, 'Cheese': 2.44}

## Nested Loop Comprehension

In [27]:
[[x, y] for x in [1, 2, 3] for y in [4, 5, 6]]

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [28]:
eval("*".join(str(i) for i in range(1, 6)))

120

In [29]:
eval("1*2*3*4*5")

120

In [30]:
b=[[5, 6], [1, 8], [9, 2], [0, 11], [4, 6]]

In [31]:
f = sorted(range(len(b)), key = b.__getitem__)

In [32]:
f

[3, 1, 4, 0, 2]

In [33]:
for i in f:
    print(b[i])

[0, 11]
[1, 8]
[4, 6]
[5, 6]
[9, 2]

In [41]:
def i(b):
    return b[0]

g = sorted(range(len(b)), key = lambda x:b[0])
#g = sorted(range(len(b)), key = lambda b:b[0]
#g = sorted(range(len(b)), key = i)
#g = sorted(range(len(b)), key = i(b))
g

[0, 1, 2, 3, 4]

In [48]:
import operator
#g=sorted(enumerate(b), key = lambda x:b[0])
g=sorted(enumerate(b), key = operator.itemgetter(1))
g

[(3, [0, 11]), (1, [1, 8]), (4, [4, 6]), (0, [5, 6]), (2, [9, 2])]

## Map and Filter Function

##### Without using loop pointing to each and every element of the list
##### Using function on lambda to achieve the above

In [1]:
b = list(range(1, 20))
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [2]:
[i**2 for i in b]

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [3]:
def mySq(i):
    return i*i

In [5]:
list(map(mySq, b))

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [6]:
map(lambda i:i*i, b)

In [7]:
list(map(lambda i:i*i, b))

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [9]:
name = ['Name1', 'Name2', 'Name3', 'Name4', 'Name5']

In [10]:
name

['Name1', 'Name2', 'Name3', 'Name4', 'Name5']

In [11]:
map(len, name)

In [12]:
list(map(len, name))

[5, 5, 5, 5, 5]

In [13]:
tuple(map(len, name))

(5, 5, 5, 5, 5)

In [14]:
set(map(len, name))

{5}

In [15]:
Hello = list(map(str, input().split(' ')))

Name1 Name2 Name3

In [16]:
Hello

['Name1', 'Name2', 'Name3']

In [18]:
Hello = list(map(int, input().split(' ')))

1 2 3 4 5

In [19]:
Hello

[1, 2, 3, 4, 5]

### Using map generate tuple of upperCase and length of the name

In [20]:
def u_lGen(i):
    return i.upper(), len(i)
list(map(u_lGen, name))

[('NAME1', 5), ('NAME2', 5), ('NAME3', 5), ('NAME4', 5), ('NAME5', 5)]

In [21]:
list(map(lambda i:(i.upper(), len(i)), name))

[('NAME1', 5), ('NAME2', 5), ('NAME3', 5), ('NAME4', 5), ('NAME5', 5)]

In [22]:
dict = {'NAME1': 5, 'NAME2': 5, 'NAME3': 5, 'NAME4': 5, 'NAME5': 5}

In [25]:
list(map(len, dict))

[5, 5, 5, 5, 5]

In [26]:
list(map(lambda i: i**2, dict.values()))

[25, 25, 25, 25, 25]

In [27]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [28]:
list(map(lambda i: i%2 ==0, b))

[False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False,
 True,
 False]

In [29]:
list(filter(lambda i: i%2 ==0, b))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [30]:
name

['Name1', 'Name2', 'Name3', 'Name4', 'Name5']

In [31]:
def nameFilter(i):
    return 'N' not in i

In [32]:
list(filter(nameFilter, name))

[]

In [33]:
list(filter(lambda i: 'N' not in i, name))

[]

In [34]:
list(map(lambda i: 'N' not in i, name))

[False, False, False, False, False]

### Filter is taken at the point of bool values

In [37]:
# counting word problem in codechef
t = int(input())
for i in range(t):
    n,m = list(map(int, input().split(' ')))
    print(n*m)

2
3 10
30
1 10
10

In [40]:
# Second Max of Three Numbers
t = int(input())
for i in range(t):
    u = list(map(int, input().split(' ')))
    u.sort()
    print(u[-2])

3
1 2 3
2
10 15 1
10
15 489 589
489

In [44]:
# Chairs Requirement
t = int(input())
for i in range(t):
    s,c = list(map(int, input().split(' ')))
    print('Required chairs is 0') if s<=c else print(f'Required chairs is {s-c}')

2
10 10
Required chairs is 0
50 20
Required chairs is 30

In [45]:
# Number of Credits
t = int(input())
for i in range(t):
    x,y,z = list(map(int, input().split(' ')))
    print(x*4+y*2)

2
2 2 3
12
6 6 5
36

In [46]:
# Palindrome Flipping
t = int(input())
for i in range(t):
    print(i)

5
0
1
2
3
4